@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mooli&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
    background-image: linear-gradient(#EBEBEB,#4062BB); /* Background color */
    font-family: "Mooli", sans-serif;
    margin: 0;
    padding: 0;
    color: white; /* Text color */
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    background-color: rgba(251, 252, 255, 0.9); /* Background with transparency */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  
  .header h1 {
    font-size: 5vh;
    font-weight: bold;
    color: #0077FF; 
   letter-spacing: 2px; 
    text-align: center; 
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
  }
  
  .location h2 {
    font-size: 4vh;
    color: #333;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
  }
  
  .location p {
    font-size: 16px;
    color: #777;
  }
  
  .weather-info {
    margin-top: 20px;
  }
  
  .current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .temperature,
  .condition {
    flex: 1;
    padding: 20px;
  }
  
  .temperature h3,
  .condition h3 {
    font-size: 18px;
    color: #333;
  }
  
  .temperature p,
  .condition p {
    font-size: 24px;
    color: #333;
  }
  
  
  .forecast-day {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.7);
    /* Background with transparency */
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .forecast-day p:first-child {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .forecast-day p:last-child {
    font-size: 20px;
    color: #333;
  }
  
  /* Add styling for the search input and button */
  .search {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .search input {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  .search button {
    background-color: #4d9eea ;
    /* Button background color */
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    /* Button text color */
  }
  
  .search button:hover {
    background-color:#325169;
    /* Button background color on hover */
  }
  


  /* Animation for header */
.header h1 {
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Animation for weather information */
.weather-info {
  animation: slideInFromLeft 1s ease-out;
}

@keyframes slideInFromLeft {
  0% {
      opacity: 0;
      transform: translateX(-20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

/* Animation for search input and button */
.search {
  animation: faded 1s ease-out;
}

@keyframes faded {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.search button {
  transition: background-color 0.4s ease;
}
.search button:hover {
  background-color: #325169;
 
  transform: scale(1.1);
}

  
  